*{

}
head{
	
}
body{
	background-image:url(images/again_and_again.jpg);
	background-size: cover;
}
.notready{
	height:250px;
	background: rgba(0,0,0,0.6);
	margin-top: 200px;
	border: solid 2px rgba(0,0,0,0.3);
	
	color: #FF0000;
	font-size: 80px;
	text-align: center;	
	line-height:250px;
}